@{
    ViewBag.Title = "Contact";
}


<address>
    Rua Nove, 90<br />
    Bragança Paulista, SP 12926-332<br />
    <abbr title="Phone">Phone:</abbr>
    055 11 94120.6451
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:andradeh3@gmail.com">andradeh3@gmail.com</a><br />
</address>