@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Project</h1>
    <p class="lead">Litte CRUD.</p>

    

</div>

<div 
     ng-controller="HomeController">

</div>


<div class="row">

</div>
